body {padding-top: 10px;
    padding-left: 20px;
    background-image: url(../MEDIA/green-background.png); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1370px 650px;}

#titre {text-align: center;}

.entete{font-family: 'Kaushan Script', cursive;}

.entete a {text-decoration: none;
           color: rgb(44, 24, 18);}

.entete img { width: 100px;
             height: 100px;
             position: absolute;
             padding-left: 135px;
             padding-right: 135px;
             margin-top: -90px;
             margin-left: auto;}


#header-user-infos {float: right;
                    margin-top: -60px;
                    padding-right: 20px;
                    text-align: left;}

#header-user-infos a {padding: 0px 10px;}

nav label {color: #242424}
                 
nav input {padding: 5px 10px;}

#site-search {width: 415px;
              height: 35px;}

#categorie {position: static;
            width: 340px;}

#btRechercher {position:absolute;
               width: 300px;
               height: 80px;
               background-color: white;
               color: #000000;
               margin-top: -65px;
               margin-inline: 450px;}

ul {list-style-type: none;}

#right {float: right;
        padding-right: 850px;}

#right li {padding-left: 35px;}

#left {float: left;
        margin-left: -50px;}

#left li{padding-left: 35px;}