body {padding-top: 10px;
    padding-left: 20px;
    background-image: url(../MEDIA/green-background.png); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1370px 650px;}

.entete{font-family: 'Kaushan Script', cursive;}

.entete a {text-decoration: none;
           color: rgb(44, 24, 18);}

.entete img { width: 100px;
             height: 100px;
             position: absolute;
             padding-left: 135px;
             padding-right: 135px;
             margin-top: -90px;
             margin-left: auto;}     

form label {display: inline-block;
            width: 510px;
            color: #242424;}

#infos{float: left;
       padding-left: 400px;
       								}
	   

.btModif{position:absolute;
        width: 150px;
        height: 50px;
        background-color: white;
        color: #000000;
        
        margin-inline: 150px;}